.response-area {
    width: 100%; /* Ensures it fills the column */
    min-height: 150px; /* Adjust based on content needs */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; /* Allows vertical resizing only */
  }

.customer-detail-container {
    margin: auto;
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling if the table exceeds the screen width */
    padding: 1rem;
    /* background-color: #141b2d; */
    background-color: #0c0120;
    font-size: 15px;
  }

.customer_detail_page {
    margin: 0;
    padding: 0;
    /* background: #141b2d; */
    background: #0c0120;
    color: #e0e0e0;
    font-family: "Source Sans Pro", sans-serif;
    display: flex;
    position: relative;
    justify-content: center; 
    align-items: center;
    height: 100%;             
    width: 100%;
  }

.left {
    /* position: absolute;
    left: 100px;
    width: 1000px;
    padding: 10px; */
    background-color: #0c0120;
    /* display: flex; */
    position: relative;
    justify-content: center; 
    align-items: center;
    height: 100vh;             
    width: 100vw;
  }

