

body {
    margin: 0;
    padding: 0;
    background-color: #141b2d;
    color: #e0e0e0;
    font-family: sans-serif, sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}

.header {
    text-align: center;
    font-size: 36px;
}