.home-background {
    margin: 0;
    padding: 0;
    background-color: #0c0120;
    color: #8653e3;
    font-family: Inter, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-left: 220px;
    padding-right: 220px;

}

.header {
    text-align: left;
    font-size: 33px;
    margin-bottom: 20px;
}

.home_body {
    overflow-x: hidden;
}
.navigation-text{
    font-size: 22px;
    color: #8653e3;
}
.space-between-texts {
    margin-top: 20px; /* Adjust as needed */
}
