.home-background {
    margin: 0;
    padding: 0;
    background-color: #0c0120;
    color: #8653e3;
    font-family: Inter, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-top: 50px;
}

.header {
    text-align: center;
    font-size: 33px;
}
